{
	"printWidth": 100,
	"singleQuote": false,
	"semi": true,
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react",
		"^@remix-run/(.*)$",
		"^@ui/(.*)$",
		"^components/(.*)$",
		"^lib/(.*)$",
		"^[./]",
		"<THIRD_PARTY_MODULES>"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true
}
