@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-onboarding: #525966;
}

:root {
	--color-placeholder-onboarding: #525966;
}

.sm-tweet-theme .react-tweet-theme {
	--tweet-container-margin: 0px;
}

.sm-tweet-theme .tweet-header-module__A9EVQG__authorFollow {
	display: none;
}

.scrollbar-thin {
	scrollbar-width: thin;
	scrollbar-color: #293952 transparent;
}

.scrollbar-thin::-webkit-scrollbar {
	width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}

[class*="dmSans"],
.font-dm-sans {
	letter-spacing: -0.01em;
	line-height: 135%;
}