.tl-background {
  background: #171B1F !important;
}

.tlui-style-panel.tlui-style-panel__wrapper, .tlui-navigation-panel::before ,.tlui-menu-zone, .tlui-toolbar__tools, .tlui-popover__content, .tlui-menu, .tlui-button__help, .tlui-help-menu, .tlui-dialog__content {
  background: #1F2428 !important;
  border-top: #1F2428 !important;
  border-right: #1F2428 !important;
  border-bottom: #1F2428 !important;
  border-left: #1F2428 !important;
}

.tlui-navigation-panel::before {
  border-top: #1F2428 !important;
  border-right: #1F2428 !important;
}

.tlui-minimap {
  background: #1F2428 !important;
}

.tlui-minimap__canvas {
  background: #171B1F !important;
}

.tlui-dialog__overlay {
  position: fixed;
}