@import "@radix-ui/colors/gray";
@import "@radix-ui/colors/gray-dark";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-rgray-2 text-rgray-11 max-h-screen overflow-y-hidden;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

[vaul-drawer-wrapper] {
  @apply bg-rgray-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar {
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
}

.DrawerContent {
  padding-top: 5vh;
  padding-top: 5dvh;
}

.main-hidden {
  padding-bottom: 20vh;
  padding-bottom: 15dvh;
}

.chat-answer pre {
  @apply bg-rgray-3 border-rgray-5 my-5 rounded-md border p-3 text-sm;
}

.chat-answer h1 {
  @apply text-rgray-11 my-5 text-xl font-medium;
}

.chat-answer img {
  @apply my-5 rounded-md font-medium;
}
