@import "tailwindcss";

:root {
	color-scheme: dark;
}

body {
	font-family:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		sans-serif;
}

textarea,
select,
input,
button {
	font: inherit;
}
