node_modules

out
dist
*.tgz

coverage
*.lcov

logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
*.tsbuildinfo

.idea

.DS_Store
