@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: rgba(179, 188, 197, 1);
    --foreground-menu: rgba(106, 115, 125, 1);
    --background: rgba(23, 27, 31, 1);
    --secondary: rgba(31, 36, 40, 1);
    --primary: rgba(54, 157, 253, 1);
    --border: rgba(51, 57, 67, 1);

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary-foreground: 0 0% 98%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 14px;
}

@layer base {
  .all-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-background {
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0)
  );
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131f2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22303d;
}
