.tl-background {
	background: #1f2428 !important;
}

.tlui-style-panel.tlui-style-panel__wrapper,
.tlui-navigation-panel::before,
.tlui-menu-zone,
.tlui-toolbar__tools,
.tlui-popover__content,
.tlui-menu,
.tlui-button__help,
.tlui-help-menu,
.tlui-dialog__content {
	background: #2c3840 !important;
	border-top: #2c3840 !important;
	border-right: #2c3840 !important;
	border-bottom: #2c3840 !important;
	border-left: #2c3840 !important;
}

.tlui-navigation-panel::before {
	border-top: #2c3840 !important;
	border-right: #2c3840 !important;
}

.tlui-minimap {
	background: #2c3840 !important;
}

.tlui-minimap__canvas {
	background: #1f2428 !important;
}

.tlui-dialog__overlay {
	position: fixed;
}
